<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Get your greeting<a href="/greeting?name=Budi"> here</a></p>
</body>
</html>
